// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors:
$main-green: #2D4243;
$mid-gold: #D0B564;
$gold: #D4AF47;
$sand: #fcf9dd;
$red: #c91a1d;
$green: #1da769;
