#scan-btn-search {
  display: none !important;
}

#scan-title {
  text-align: center;
  padding-top:10px;
}
#barcode-scanner {
  position: absolute;
}
// #img-scan {
//   display: inline-block;
//   text-align: center;
//   margin: 2rem auto;
//   img {
//     height: 80px;
//     width: auto;
//     display: inline-block;
//   }
// }
