ul{
  background-color: #EAEAEA;
}

.text-hidden{
  color: rgb(155, 155, 155);
}

.music-kind-view{
  width: 100%;
  height: 25vh;
  background-color: $gold;
}

.card-vinyl{
  height: 100%;
  width: 100%;
  background-color: $main-green;
}
