.music-kind-view{
  width: 100%;
  height: 25vh;
  background-color: $gold;
}

.card-vinyl{
  min-height: 55vh;
  width: 100%;
  background-color: $main-green;
}

.search-bar{
  display: flex;
  align-items: center;
}
