<%# <h2 id="scan-title" class="font-weight-bold"><%= image_tag("diamond-v1web.png", width: 194) it !</h2> %>
<div id='barcode-scanner'></div>
<%= form_tag barcode_vinyls_path(@vinyl_id), method: "GET", id:"form-barcode", class:"home-form w-100 d-flex justify-content-center" do %>
  <%= hidden_field_tag :query,
      params[:query],
      required: false,
      id: :barcode,
      class: "form-control home-input"
  %>
  <%=  submit_tag "Search",id: "scan-btn-search", class:"btn-mid-gold btn-search-home"%>
<% end %>
