<div id="lozenge-gold" class="d-flex flex-row-reverse py-3 px-2">
  <%= link_to icon('fas', 'gem'), vinyl_favorites_path(@vinyl), method: :post, class:"diamond-fav add-favorite-link p-3", style: "font-size: 1.4rem;text-decoration: none;" %>
</div>
