<%# <input class='wishlist' id='check' type="checkbox">
<label for="check"
   <i class="fas fa-gem"></i>
</label> %>


<%= link_to 'Add to favorites', vinyl_favorites_path(@vinyl), method: :post, class:"d-flex btn btn-primary text-success font-weight-bold w-75 mx-auto mb-4 justify-content-center align-items-center", style: "font-size: 1.4rem;text-decoration: none; border-radius: 10px; height: 60px;" %>
