<div class="dark-navbar d-flex w-100 justify-content-around fixed-bottom p-3">
  <% search = image_tag 'search-white' %>
  <% collection = image_tag 'collection-white.svg' %>
  <%= link_to search %>
  <%= link_to collection %>
</div>
