<div class="dark-show-navbar d-flex w-100 justify-content-between fixed-bottom p-3">
  <% plus = image_tag 'plus-dark.svg' %>
  <% check = image_tag 'check-dark.svg' %>
  <% collection = image_tag 'collection-dark.svg' %>
  <% back_arrow = image_tag 'chevron-gold.png' %>


  <%= link_to back_arrow, _back_url %>
  <% if @already_in_collec %>
  <div class="circle-btn-scan">
    <%= link_to check, user_vinyls_path(@vinyl) %>
  </div>
  <% else %>
  <div id="add-button" class="circle-btn-scan">
    <%= link_to plus, vinyl_user_vinyls_path(@vinyl), method: :post %>
  </div>
  <% end %>
  <%= link_to collection, user_vinyls_path %>
</div>
