<div id="lozenge-green" class="d-flex flex-row-reverse py-3 px-2">
  <%= link_to icon('fas', 'gem'), favorite_path(@favorite), method: :delete, class:"diamond-fav delete-favorite-link p-3", style: "font-size: 1.4rem;text-decoration: none;" %>
</div>
