
<div class="d-flex flex-column justify-content-center m-3 header-search">
  <div class="avatar-navbar">
    <%= render 'shared/avatar_navbar' %>
  </div>
  <h2 class="font-weight-bold header-search-h2">Search results</h2>
  <p>Diamond found you <%= @vinyls.count %> vinyls</p>
</div>
