
<div class="d-flex flex-column justify-content-center m-3 header-search">
  <div class="avatar-navbar">
    <%= render 'shared/avatar_navbar' %>
  </div>
  <h2 class="font-weight-bold header-search-h2">Diamond found you <span class="vinyl-count"><%= @vinyls.count %></span> vinyls</h2>
</div>
