<div class="white-navbar d-flex w-100 justify-content-around fixed-bottom p-3">
  <% search = image_tag 'search-dark' %>
  <% collection = image_tag 'collection-dark' %>
  <%= link_to search, authenticated_root_path  %>
  <%= link_to collection, user_vinyls_path %>
</div>
