<div class="white-navbar d-flex w-100 justify-content-around fixed-bottom p-3">
  <% search = image_tag 'search-dark.svg' %>
  <% collection = image_tag 'collection-dark.svg' %>
  <%= link_to search,  %>
  <%= link_to collection, user_vinyls_path %>
</div>
