.translate-card{
  transition: .4s;
  transform: translate(380px) !important;
}

.space-card{
  transition: padding 1s ease-in-out;
}


#add-button {
  animation: pulse 2s linear infinite;
  transform-origin: center;
  top: -45%;
  left: 39%;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
    // opacity: .9;
  }
  53% {
    transform: scale(1);
    // opacity: 1;
  }
  100% {
    // opacity: .9;
    transform: scale(.9);
  }
}
