.bookmark-red{
  color:$red;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.48);
  position: absolute;
  top: 20px;
  left: 7px;
}

.bookmark-green{
  color: $green;
  text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.48);
  position: absolute;
  top: 20px;
  left: 7px;
}
