.btn-sand {
  // Doit hériter de class="btn btn-primary w-xx btn-sand"
  background-color: $sand !important;
  border-radius: 10px !important;
  border: none;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 19px;
  color: $mid-gold;
}

.btn-mid-gold {
  // Doit hériter de class="btn btn-primary w-xx btn-mid-gold"
  background-color: $mid-gold !important;
  border-radius: 10px !important;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 19px;
  color: $sand;
}

.content-connect-links {
  h2 {
    font-size: 20px;
  }
  .btn-connect {
    width: 215px;
    height: 38px;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    i {
      font-size: 20px;
    }
  }

  .google {
    background-color: #cf4332;
  }

  .facebook {
    background-color: #3c66c4;
  }
}
