.dark-show-navbar{
  background-color: $main-green;
  border-radius: 0px 0px 0px 0px;
  img {
    height: 34px !important;
  }
  .circle-btn-scan {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $mid-gold;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid $sand;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  #add-button {
    animation: bounce 2s 1s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-0px) translateX(-50%);

  }
  10% {
    transform: translateY(-5px) translateX(-50%);
  }
  20% {
    transform: translateY(-0px) translateX(-50%);
  }
  30% {
    transform: translateY(-5px) translateX(-50%);
  }
  40% {
    transform: translateY(-0px) translateX(-50%);
  }
  50% {
    transform: translateY(-0px) translateX(-50%);
  }
  60% {
    transform: translateY(-0px) translateX(-50%);
  }
  70% {
    transform: translateY(-0px) translateX(-50%);
  }
  80% {
    transform: translateY(-0px) translateX(-50%);
  }
  90% {
    transform: translateY(-0px) translateX(-50%);
  }
  100% {
    transform: translateY(-0px) translateX(-50%);
  }
}
